#background {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
#prog {
    position: absolute;
    bottom: 50px;
    left: 20px;
    background-color: transparent;
    img {
        width: 300px;
    }
    a {
        color: white;
        text-shadow: none;
        text-align: center;
    }
    a:hover{
        background-color: transparent;
        color: rgb(29, 252, 0);
    }
}
  
#reader {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    img {
        width: 100px;
    }
    a:hover{
        background-color: transparent;
        -webkit-filter:invert(100%);
    }
}

@media only screen and (max-width: $breakpoint-sm) {
    #reader {
        top: 40px;
        right: 20px;
    }
  }

#shiriglasses {
    position: absolute;
    bottom: 150px;
    right: 200px;
    background-color: transparent;
    img {
        width: 70px;
    }
    a:hover{
        background-color: transparent;
        -webkit-filter:blur(5px);
    }
}

@media only screen and (max-width: $breakpoint-sm) {
    #shiriglasses {
        bottom: 300px;
        right: 80px;
    }
  }