body {
  background-image: url("background-1.png");
  background-size: 1000px;
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
  color: $bodyColor;
  font-family: $bodyFont;
  padding: 0px;
  margin: 0px;
  font-size: 1.2em;
}

a{
  text-shadow: 0px 0px 7px $linkClickedBgColor;
  color: $linkColor;;
    text-decoration: none;
    &:visited {
        color: $linkColor;
    }
    &:hover,
    &:active{
        background: $linkClickedBgColor;
        color: $linkClickedColor;
  }
}

img {
  width: 40%;
}

@media only screen and (max-width: $breakpoint-sm) {
  img {
    width: 100%;
  }
}

.anti{
  background-color: rgba(255, 0, 0, 0.411);
}

hr.dotted {
  border-top: 3px dotted $fontColor;
}

.wavy {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: rgb(247, 0, 255);
}

.caption{
  font-size: 1em;
}

.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:40%;
  position:absolute;
}