body {
  background-image: url("background-1.png");
  background-size: 1000px;
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
  color: $bodyColor;
  font-family: $bodyFont;
  padding: 0px;
  margin: 0px;
}

a{
  text-shadow: 0px 0px 7px $linkClickedBgColor;
  color: $linkColor;;
    text-decoration: none;
    &:visited {
        color: $linkColor;
    }
    &:hover,
    &:active{
        background: $linkClickedBgColor;
        color: $linkClickedColor;
}
}

img {
  width: 40%;
}

.anti{
  background-color: rgba(255, 0, 0, 0.411);
}

hr.dotted {
  border-top: 3px dotted $fontColor;
}

.wavy {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: rgb(0, 255, 98);
}
