nav {
    
    a {
        font-size: 2em;
        padding-right: 5px;
        &.active {
            background: $linkClickedBgColor;
            color: $linkClickedColor;
        }
    }
}

@media only screen and (max-width: $breakpoint-sm) {
    nav {
        a {
            font-size: 1.4em;
        }
    }
}