---
layout: page
title: archive
permalink: /archive/
---

<div id="archive-wrapper">
<div>2020</div>
{% for event in site.data.events-2020 %}
    <div class="archive-item">
        <a href="/{{ event.title | datapage_url: 'events' }}">
            <img src="{{ event.imageUrl }}" alt="{{event.title}}">
        </a>
    </div>
{% endfor %}
<div>2019</div>
{% for event in site.data.events-2019 %}
    <div class="archive-item">
        <a href="/{{ event.title | datapage_url: 'events' }}">
            <img src="{{ event.imageUrl }}" alt="{{event.title}}">
        </a>
    </div>
{% endfor %}
<div>2018</div>
{% for event in site.data.events-2018 %}
    <div class="archive-item">
        <a href="/{{ event.title | datapage_url: 'events' }}">
            <img src="{{ event.imageUrl }}" alt="{{event.title}}">
        </a>
    </div>
{% endfor %}
<div>2017</div>
{% for event in site.data.events-2017 %}
    <div class="archive-item">
        <a href="/{{ event.title | datapage_url: 'events' }}">
            <img src="{{ event.imageUrl }}" alt="{{event.title}}">
        </a>
    </div>
{% endfor %}
<div>2016</div>
{% for event in site.data.events-2016 %}
    <div class="archive-item">
        <a href="/{{ event.title | datapage_url: 'events' }}">
            <img src="{{ event.imageUrl }}" alt="{{event.title}}">
        </a>
    </div>
{% endfor %}
<div>2015</div>
{% for event in site.data.events-2015 %}
    <!-- <h2>{{ event.title | strip_html }}</h2>
    <div class="archive-item">{{event.time.from | date: "%b %d @ %H:%M"}}</div> -->
    <div class="archive-item">
        <a href="/{{ event.title | datapage_url: 'events' }}">
            <img src="{{ event.imageUrl }}" alt="{{event.title}}">
        </a>
    </div>
{% endfor %}
</div>
