---
layout: page
title: archive
permalink: /archive/
---

<!-- Html Elements for Search -->

<div class="archive-heading">
  <h3>
    Want a searchable text list of events?
    <a href="/archive-list">click here!</a>
  </h3>
</div>
<div id="archive-wrapper">
  <div class="archive-date">2021</div>
  {% for event in site.data.events-2021 %}
  <div class="archive-item">
    <a
      class="archive-item-link"
      href="{{ event.title | datapage_url: 'events' | relative_url }}"
    >
      <div class="archive-item-text">{{event.title}}</div>
    </a>
    <img
      src="{{ event.imageUrl | relative_url }}"
      style="display: none"
      onload="this.style.display=''"
    />
  </div>
  {% endfor %}

  <div class="archive-date">2020</div>
  {% for event in site.data.events-2020 %}
  <div class="archive-item">
    <a
      class="archive-item-link"
      href="{{ event.title | datapage_url: 'events' | relative_url }}"
    >
      <div class="archive-item-text">{{event.title}}</div>
    </a>
    <img
      src="{{ event.imageUrl | relative_url }}"
      style="display: none"
      onload="this.style.display=''"
    />
  </div>
  {% endfor %}
  <div class="archive-date">2019</div>
  {% for event in site.data.events-2019 %}
  <div class="archive-item">
    <a
      class="archive-item-link"
      href="{{ event.title | datapage_url: 'events' | relative_url }}"
    >
      <div class="archive-item-text">{{event.title}}</div>
    </a>
    <img
      src="{{ event.imageUrl | relative_url }}"
      style="display: none"
      onload="this.style.display=''"
    />
  </div>
  {% endfor %}
  <div class="archive-date">2018</div>
  {% for event in site.data.events-2018 %}
  <div class="archive-item">
    <a
      class="archive-item-link"
      href="{{ event.title | datapage_url: 'events' | relative_url }}"
    >
      <div class="archive-item-text">{{event.title}}</div>
    </a>
    <img
      src="{{ event.imageUrl | relative_url }}"
      style="display: none"
      onload="this.style.display=''"
    />
  </div>
  {% endfor %}
  <div class="archive-date">2017</div>
  {% for event in site.data.cargo-events-2017 %}
  <div class="archive-item">
    <a class="archive-item-link" href="{{ event.cargoUrl }}">
      <div class="archive-item-text">{{event.cargoTitle}}</div>
    </a>
    <img
      src="{{ event.cargoImageUrl | relative_url }}"
      style="display: none"
      onload="this.style.display=''"
    />
  </div>
  {% endfor %}
  <div class="archive-date">2016</div>
  {% for event in site.data.cargo-events-2016 %}
  <div class="archive-item">
    <a class="archive-item-link" href="{{ event.cargoUrl }}">
      <div class="archive-item-text">{{event.cargoTitle}}</div>
    </a>
    <img
      src="{{ event.cargoImageUrl | relative_url }}"
      style="display: none"
      onload="this.style.display=''"
    />
  </div>
  {% endfor %}
  <div class="archive-date">2015</div>
  {% for event in site.data.cargo-events-2015 %}
  <div class="archive-item">
    <a class="archive-item-link" href="{{ event.cargoUrl }}">
      <div class="archive-item-text">{{event.cargoTitle}}</div>
    </a>
    <img
      src="{{ event.cargoImageUrl | relative_url }}"
      style="display: none"
      onload="this.style.display=''"
    />
  </div>
  {% endfor %}
</div>
